.social{
    font-size: 25px;
    padding-right: 10px;
}

.form-control{
    padding: 10px 11px !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.form-group {
    margin-top: 1rem;
}

.card{
      border: 1px solid black;
      padding: 1rem;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;

}