<div class="main-menu">
    <app-menu></app-menu>
</div>
<section class="section">
    <div class="slider">
        <div class="top-bar">
            <span><i class="fa fa-phone"></i>&nbsp;&nbsp;+911122333777&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"></i>&nbsp;&nbsp;abc@gmail.com</span>
            <ul>
                <li><a href="javascript:void(0)"><i class="fa fa-youtube-play" style="font-size: 24px;"></i></a></li>
            </ul>
        </div>
        <div class="slide">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
        
            <div class="st first">
                <img src="./../assets/banners/image_3.jpg" alt="">
            </div>

            <div class="st">
                <img src="./../assets/banners/image_2.jpg" alt="">
            </div>

            <div class="st 2">
                <img src="./../assets/banners/2.jpg" alt="">
            </div>

            <div class="st">
                <img src="./../assets/banners/image_3.jpg" alt="">
            </div>

            <div class="st">
                <img src="./../assets/banners/image_4.jpg" alt="">
            </div>

            <div class="nav-auto">
                <div class="a-b1"></div>
                <div class="a-b2"></div>
                <div class="a-b3"></div>
                <div class="a-b4"></div>
            </div>

        </div>

        <div class="nav-m">
            <label for="radio1" class="m-btn"></label>
            <label for="radio2" class="m-btn"></label>
            <label for="radio3" class="m-btn"></label>
            <label for="radio4" class="m-btn"></label>
        </div>

    </div>
</section>