<div class="header">
    <app-menu></app-menu>
</div>


<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="back-button"><a routerLink="./../product_details">Back</a></div>
                <h3>Product Configuration</h3>
                <div class="theme-card">
                    <div class="theme-form">
                        
                        <div class="form-row">

                            <div class="col-md-12">
                                <br><br>
                                <label>I am <span style="color: red;">*</span></label>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="Right hand Player( cover 3 hole by left hand for sa)">Right hand Player( cover 3 hole by left hand for sa)</option>
                                    <option value="Left hand Player(cover 3 holes With right hand for sa)">Left hand Player(cover 3 holes With right hand for sa)</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
        
                            <div class="col-md-12">
                                <br><br>
                                <label>My Type of Blowing is <span style="color: red;">*</span></label>
                                <select class="form-select" aria-label="Default select example">
                                    <option value="440Hz(Standard)">440Hz(Standard)</option>
                                    <option value="442Hz">442Hz</option>
                                    <option value="438Hz">438Hz</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>

                        </div>
                        
                        <br><br>
                        
                        <a routerLink="./../userinfo" class="btn btn-solid">Continue</a>

                        <!-- <button type="submit" class="btn btn-solid">Continue</button> -->

                        <button class="btn">
                            <i class="fa fa-spinner fa-spin"aria-hidden="true"></i> 
                            &nbsp;&nbsp; Loading ...
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>