.header{
    padding: 15px 20px;
    background: #222;
}



.register-page h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
    margin-top: -4px;
}

.register-page{
    margin-top: 50px;
}

.register-page  .theme-card {
    padding: 25px;
}

.form-control {
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    padding: 10px 11px !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.theme-form input {
    margin-bottom: 25px;
    padding: 13px 18px;
}

.theme-form label {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: bold;
}

.section-b-space {
    padding-bottom: 30px;
}

.register-page .theme-card {
    padding: 30px;
    border: 1px solid #dddddd;
    line-height: 1;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.form-row label{
    padding: 10px 5px;
}

.btn-solid {
    padding: 10px 20px;
    color: #ffffff;
    letter-spacing: 0.05em;
    border: 2px solid #f8bc04;
    background-image: linear-gradient(30deg, #f8bc04 50%, transparent 50%);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    text-transform: uppercase;
    margin-left: 4px;
}

.btn-solid:hover {
    padding: 10px 20px;
    color: #f8bc04;
    letter-spacing: 0.05em;
    border: 2px solid #f8bc04;
    background: #ffffff;
}

.back-button{
    margin-bottom: 30px;
}

.back-button a{
    padding: 8px 20px;
    color: #ffffff;
    letter-spacing: 0.05em;
    border: 2px solid #f8bc04;
    background-image: linear-gradient(30deg, #f8bc04 50%, transparent 50%);
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: 0;
    text-transform: uppercase;
}

/* ================ Responsive Design ================ */

@media (max-width: 900px) {
}