<div class="header">
    <app-menu></app-menu>
</div>

<!-- Product Overview -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger" style="display: flex;justify-content: center; margin-top: 20px;" >
                <strong><i class="fa fa-warning" style="font-size:22px"></i></strong>&nbsp;&nbsp;do not refrash this page.
            </div>
            <div style="padding-top: 20px;">
                <div class="product-area">
                    
                    <div class="order-overview">
                        <div class="overview">
                            <span>Order Overview</span>
                        </div>
                    </div>

                    <div class="order-details">

                        <div class="order-data">
                            <div class="product-img"><img src="./../../../../assets/items/3.JPG"></div>
                            <div class="product-details">
                                
                                <a href="#"><h3>Radhe Flutes | Right Handed C Natural With Velvet Cover | Tuned With Tanpura A=440Hz | PVC Fiber</h3></a>
                                
                                <ul>
                                    <li>
                                        <div class="Product-qty">                    
                                            <div class="custom-select">
                                                <label>Qty&nbsp;:&nbsp;</label>
                                                <select disabled>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                
                            </div>
                        </div>

                        <div class="configuration">
                            <div class="product-configuration">
                                <div class="heading">
                                    <h3>Product Configuration</h3>
                                    <hr>
                                </div>
                                <ul>
                                    <li><b>User-Type :</b>&nbsp;Right hand Player( cover 3 hole by left hand for sa)</li>
                                    <li><b>Blowing Type :</b>&nbsp;438HZ</li>
                                    <li><b>Scale Of Flute :</b>&nbsp;F Natural Bass</li>
                                    <li><b>Varient Of Flute :</b>&nbsp;Heat Treated Standard Concert</li>
                                </ul>
                            </div>
                            <div class="delivery-configuration">
                                <div class="heading">
                                    <h3>Delivery Details</h3>
                                    <hr>
                                    <h2>Ship To</h2>
                                </div>
                                <ul>
                                    <li><b>Yashodhan Kulkarni</b></li>
                                    <li>Tuljai Bunglow, Near Mahalaxmi Mandir, Tathe Mala</li>
                                    <li>Ahmadnagar, Maharashtra</li>
                                    <li>414001</li>
                                    <li>India</li>
                                </ul>
                            </div>
                        </div>

                        <div class="order-confirm">
                            <button class="btn btn-solid">Confirm & Pay ₹5000</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<br><br>