<div class="header">
    <app-menu></app-menu>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12 col-lg-6">
            
            <div class="product-details">
                <label>C Natural Medium</label><br>
                <span style="color: #839192; font-size: 16px;">Heat Treated Standard Concert</span>
                <div style="margin-top: -10px;">
                    <span style="font-size: 20px;padding-top: 20px;" class="fa fa-star checked"></span>
                    <span style="font-size: 20px;padding-top: 20px;" class="fa fa-star checked"></span>
                    <span style="font-size: 20px;padding-top: 20px;" class="fa fa-star checked"></span>
                    <span style="font-size: 20px;padding-top: 20px;" class="fa fa-star"></span>
                    <span style="font-size: 20px;padding-top: 20px;" class="fa fa-star"></span>
                </div>
                <h3 style="color: #51595a;margin-top: 10px;">₹500</h3>
            </div>

            <div class="action-form">
                <div class="action" style="margin-top: -20px;">
                    <ul>
                        <li style="margin-top: -5px;">
                            <div class="number-input">
                                <button (click)="decrement()"></button>
                                <input class="quantity" name="quantity" [value]="counter" type="number">
                                <button (click)="increment()" class="plus"></button>
                            </div>
                        </li>
                        <li>
                            <a routerLink="/cart" class="me-2"  >Add to Cart</a>
                            <a routerLink="./../configuration">Buy</a> 
                        </li>
                    </ul>
                </div>
            </div>

            <div class="data">
                <h3>About this item</h3>
                <hr class="custom_line">
                <ul>
                    <li>TUNED THE TANPURA at 440Hz for Optimum Accuracy.</li>
                    <li>BEST ALTERNATIVE FOR BAMBOO FLUTE Requires No Maintenance - Washable. NO Cracks. NO effects from direct sunlight. NO split opens even after loose threads or ageing. No damage from a drop of 8 feet height.</li>
                    <li>10 Tutorial Videos from How to Blow the flute to How to play Tunes and Songs</li>
                    <li>Velvet Cover with Cardboard Tube that becomes Hard Case for EXTRA PROTECTION (ONLY FOR C NATURAL TRANSVERSE FLUTE)</li>
                </ul>
            </div>

        </div>
        
        <div class="col-md-12 col-lg-6">

            <div class="swiper mySwiper">
        
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><div class="data-container"><img src="./../assets/items/3.JPG"></div></div>
                    <div class="swiper-slide"><div class="data-container"><img src="./../assets/items/1.JPG"></div></div>
                </div>
            
                <div class="prev">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            
                <div class="swiper-pagination"></div>
                
            </div>

        </div>

        <div class="col-md-12 col-lg-12">
            
        </div>

    </div>
</div>