<div class="title">
    <span>
        Popular Products
    </span>
</div>

<div style="margin-bottom:40px">
    <div class="inner-section">
        <h1 class="category">Popular</h1>
        <div class="card-wrapper">
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/2.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/3.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-more"> <a href=""> Learn more </a> </div>
    </div>

    <div class="inner-section">
        <h1 class="category">Most Sell</h1>
        <div class="card-wrapper">
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/2.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/3.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-more"> <a href=""> Learn more </a> </div>
    </div>

   <div class="inner-section">
        <h1 class="category">Beginner</h1>
        <div class="card-wrapper">
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/2.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/3.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-more"> <a href=""> Learn more </a> </div>
    </div>

    <div class="inner-section">
        <h1 class="category">Intermediate</h1>
        <div class="card-wrapper">
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/2.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/3.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="itm">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="./../assets/items/1.JPG" alt="">
                        </div>
                        <div class="name-profession">
                            <span class="name">Someone Name</span>
                            <span class="profession">XYZ</span>
                            <span class="price">₹ 5000</span>
                        </div>
                        <div class="button">
                            <a routerLink="./../product_details"><button class="aboutMe">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-more"> <a href=""> Learn more </a> </div>
    </div>
    <div class="container">
        <button (click)="paynow()">Pay Now</button>
    </div>
</div>
